body{
    margin: 0;
    padding:0;

    background-size: 180%;
    background-position: center;
    font-family: sans-serif;
}
#link2{
  font-size:15px;
}
.loginbox{
    width: 35%;
    height: 80%;
    border-radius: 25px;

   background:black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 40px;
    opacity: 0.8;



}
#text1{
  /*ont-family: 'Poppins', sans-serif;*/
  font-family: tahoma;
  color:#d0d0d0;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-family:tahoma;

}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
#select1{
  background: transparent;
  color:darkgrey;
  width:90px;
  font-family: tahoma;
  height:25px;
  border-radius: 2px;
  cursor: pointer;

}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}
