<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Glozzom Theme</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/slick-theme.css">
  <link rel="stylesheet" href="css/slick.css">
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href="index.html" class="navbar-brand">Glozzom</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="services.html" class="nav-link">Services</a>
          </li>
          <li class="nav-item active">
            <a href="blog.html" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="contact.html" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Read Our Blog</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, saepe.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- BLOG SECTION -->
  <section id="blog" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card-columns">
            <div class="card">
              <img src="http://www.lorempixel.com/500/500/city/1" alt="" class="card-img-top img-fluid">
              <div class="card-body">
                <h4 class="card-title">Blog Post One</h4>
                <small class="text-muted">Written by Jeff on 07/20</small>
                <hr>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
              </div>
            </div>

            <div class="card p-3">
              <blockquote class="car-body card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat culpa repellendus molestias impedit, architecto iste.</p>
                <footer>
                  <small class="text-muted">Someone Famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
              </blockquote>
            </div>

            <div class="card">
              <img src="http://www.lorempixel.com/500/500/city/2" alt="" class="card-img-top img-fluid">
              <div class="card-body">
                <h4 class="card-title">Blog Post Two</h4>
                <small class="text-muted">Written by Jeff on 07/20</small>
                <hr>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
              </div>
            </div>

            <div class="card p-3 bg-danger text-white">
              <blockquote class="car-body card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat culpa repellendus molestias impedit, architecto iste.</p>
                <footer>
                  <small>Someone Famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
              </blockquote>
            </div>

            <div class="card">
              <img src="http://www.lorempixel.com/500/500/city/3" alt="" class="card-img-top img-fluid">
              <div class="card-body">
                <h4 class="card-title">Blog Post Three</h4>
                <small class="text-muted">Written by Jeff on 07/20</small>
                <hr>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, possimus, voluptatibus. Et possimus doloribus, repellat, atque quaerat iure, quia facilis delectus laboriosam distinctio porro temporibus vel accusamus. Nulla, quidem temporibus.</p>
              </div>
            </div>

            <div class="card p-3 bg-primary text-white">
              <blockquote class="car-body card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat culpa repellendus molestias impedit, architecto iste.</p>
                <footer>
                  <small>Someone Famous in <cite title="Source Title">Source Title</cite></small>
                </footer>
              </blockquote>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>


  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2017 &copy; Glozzom</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
  <script src="js/slick.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
