<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Glozzom Theme</title>
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/slick-theme.css">
  <link rel="stylesheet" href="/static/css/slick.css">
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a href="" class="navbar-brand">Democracy</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="{% url 'Home' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'About'%}" class="nav-link">About Us</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href=" {% url 'Logout' %} " class="nav-link">Log Out</a>
          </li>
          {% else %}
            <li class="nav-item">
              <a href=" {% url 'Signin' %} " class="nav-link">&nbsp;&nbsp;&nbsp;&nbsp;Sign IN</a>
              <p><font color="white">(Already a User?)&nbsp;&nbsp;</font></p>
          </li>
          <li class="nav-item">
            <a href=" {% url 'Signup' %} " class="nav-link">Sign UP</a>
            <p><font color="white">(New User?)</font></p>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'Contact' %}" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <h1>Contact Us</h1>
          <p>If you have any query then please contact us.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- CONTACT SECTION -->
  <section id="contact" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-4">
            <div class="card-body">
              <h4>Get In Touch</h4>
              <p>Want to join us then contact through the following informations.</p>
              <h4>Address</h4>
              <p>Anand Vihar, New Delhi</p>
              <h4>Email</h4>
              <p>test@test.com</p>
              <h4>Phone</h4>
              <p>(555) 555-5555</p>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card p-4">
            <div class="card-body">
              <h3 class="text-center">Please fill out this form to contact us</h3>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <input type="submit" class="btn btn-outline-danger btn-block">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- STAFF SECTION -->
  <section id="staff" class="py-5 text-center bg-dark text-white">
    <div class="container">
    </div>
  </section>


  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2017 &copy; Democracy</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
  <script src="/static/js/slick.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
